{% extends 'base.html' %}
{% load static %} 

{% block content %}

    <body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">

    <img src="{% static 'admin/img/abc.png' %}" 
    style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;">
    <a href="{% url 'login' %}"><b>Student </b>Management System</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">OTP Will be Send Your Register Email Asddress</p>

      <form action="{% url 'forget_password' %}" method="POST">
      {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Enter Email/Username" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
       
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
        </div>

      


          {% comment %} Display Messages {% endcomment %}
          {% if messages %}
          <div class="col-12">
            {% for message in messages %}
              {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}

          <!-- /.col -->

      </form>


  </div>
</div>
<!-- /.login-box -->

{% endblock %}