<!DOCTYPE html>
<html>
    <body>
        <h1 style="color: #00bfff;">
            Welcome to abc school management system
        </h1>
        <br>
        <br>
        <h1 style="text-align: center; color: darkgray;">OTP : {{otp}}</h1>
        <br>
        <br>
        <p>
            If it wasn’t you who requested for a password reset, or accidentally made a request, ignore this email. Worry not, your password won’t be changed unless initiated by you.
        </p>
        <br>
        <p>
            Thank to Visit
        </p><br>
        <a href=''>sms.com</a>
    </body>
</html>